consumer:
    key: ***
    secret: ***
access_token:
    key: ***-***
    secret: ***
images:
    savedest: /srv/http/eshi/cont
server:
    cont: /cont
    args:
        host: 0.0.0.0
        port: 8080
auth:
    user: ***
    pass: ***
database:
    type: SqliteDatabase
    path: /srv/http/eshi/db
target:
    type: list_timeline
    args:
        list_id: 754086209333239808
        count: 200
