<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>{{appname}}</title>
  <style>
    body {
      margin:0;border:0;padding:0;
      background-color:#333;
    }
    #pics {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    #pics li {
      width: 90%;
      max-width: 800px;
      margin: auto;
      vertical-align: top;
    }
    #pics li img {
      width: 100%;
      border-radius: 4px;
    }
  </style>
  <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
  <script src='/static/app.js'></script>
</head>
<body>
  <ul id="pics">
    {% for imgid, fn, tid, scrname, text in imgs %}
    <li><a href='https://twitter.com/{{scrname}}/status/{{tid}}' target='_blank'><img src='{{fn}}' alt='{{text}}' data-imgid='{{imgid}}'></a></li>
    {% endfor %}
  </ul>
</body>
</html>
