/* HTML/CSS/JS by @skielred */
/* Sorry for the memes I couldn't resist */
body {
  /* Removing margins/padding on body, because it has default values on many browsers */
  margin:0;border:0;padding:0;
  /* F̶i̶f̶t̶y̶ ̶s̶h̶a̶d̶e̶s̶ ̶o̶f̶ grey */
  background-color:#333;
}
#pics li, #settings > * {
  /* smooooth・∀・*/
  transition: all .573s; /* KONMAI */
}
#pics {
  /* We use a styled list element to display pics, because it's the most relevant element for our use */
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 828px;
}
#pics li {
  margin: 5px auto;
}
#pics.grid li {
  /* This is for grid view to actually be a grid */
  width: calc(33% - 10px);
  display: inline-block;
  /* This is for grid view to not appear weird */
  vertical-align: top;
}
#pics li img {
  /* Avoid images from overlapping parent element */
  width: 100%;
  /* smooooth・∀・ corners */
  border-radius: 4px;
  /* smooooth・∀・ shadows */
  box-shadow: 0 0 5px 1px #000;
}
#settings > * {
  /* We don't want those to cover all the screen so we use inline-block display property */
  display: inline-block;
  /* F̶i̶f̶t̶y̶ ̶s̶h̶a̶d̶e̶s̶ ̶o̶f̶ grey -remix- */
  background-color: #A7A7A7;
  color: #fff;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
#settings_open, #settings_close {
  /* We want settings button to be a circle, because Material Design = why not ? */
  border-radius: 50%;
  /* smooooth・∀・ shadows */
  box-shadow: 0 0 8px 0 #000;
  /* We make the user believe that this is a button while it's just a div element */
  cursor: pointer;
  background-size: 100% 100%;
  z-index: 2;
}
#settings_panel, #settings.active #settings_close  {
  transition-delay: .5s;
}
#settings_open {
  width: 100px;
  height: 100px;
  /* I prefered to use a background image instead of a character because it's (A LOT) easier to center it across every browsers */
  background-image: url('settings-icon.png');
}
#settings_close {
  width: 40px;
  height: 40px;
  right: -60px;
  bottom: 1.5em;
  background-image: url('close-icon.png');
}
#settings_panel {
  width: 300px;
  max-height: 350px;
  border-radius: 8px;
  box-shadow: 0 0 6px 1px #000;
  padding: .5em .5em calc(2em + 50px);
  right: -500px;
  z-index: 1;
  overflow-y: auto;
  font-size: 15px;
}
#settings table, #settings_panel input {
  width: 100%;
  margin: 0;
}
#settings td:nth-child(1) {
  text-align: right;
}
#settings_panel input[type="radio"] {
  display: inline-block;
  width: 30px;
}
#settings.active #settings_panel {
  right: 1em;
}
#settings.active #settings_open {
  right: -120px;
  transition-delay: 0;
}
#settings.active #settings_close {
  right: 1.5em;
}
#settings.active #settings_open, #settings.active #settings_close {
  transform: rotate(720deg);
}
/* If screen is too small we change some elements */
@media (max-width: 600px) {
  #settings_open {
    /* We avoid settings button from being too big on small screens */
    width: 45px;
    height: 45px;
  }
}
